<div *ngIf="hasError" class="alert alert-danger" style="white-space: pre-line">{{errorMessage}}</div>

<h4>Customer List</h4>
<table class="table">
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Age</th>
        <th>Address</th>
    </tr>
    <tr class=""
        *ngFor="let customer of customerList; let i = index"
        (click)="showCustomerDetails(customer, i)" >

        <td>{{customer.id}}</td>
        <td>{{customer.firstname}}</td>
        <td>{{customer.lastname}}</td>
        <td>{{customer.dateofbirth | date : "mediumDate"}}</td>
        <td>{{customer.age}}</td>
        <td>{{customerAddress(customer)}}</td>
    </tr>
</table>
