<h2>Find Customer</h2>
<div *ngIf="hasError" class="alert alert-danger" style="white-space: pre-line">{{errorMessage}}</div>
<table>
    <tr>
        <td class="align-bottom"><input [(ngModel)]="searchQuery" id="getid" placeholder="Enter Name (case sensitive)" /><br/><br/></td>
        <td class="align-top"><button type="button" class="btn btn-primary" (click)="searchButtonClick()">Search</button></td>
    </tr>
</table>
<br/>
<app-list-customers [viewAll]="false" [customerList]="customerList"></app-list-customers>