<div class="container" style="width:800px">
    <h2>Customer Details</h2>
    <div *ngIf="hasError" class="alert alert-danger">{{errorMessage}}</div>
    <!--<div *ngIf="submitted" class="alert alert-success">Customer added succesfully.</div>-->

    <table>
        <tr>
            <td class="align-bottom"><input [(ngModel)]="getId" id="getid" placeholder="Enter Id" /><br/><br/></td>
            <td class="align-top"><button type="button" class="btn btn-primary" (click)="getCustomer()">Fetch Details</button></td>
        </tr>
    </table>
    <br/>

    <div *ngIf="isViewingCustomer">
        <table class="table table-sm">
            <tr><td>Id:</td>
                <td>{{customer.id}}</td>
            </tr>
            <tr><td>First Name:</td>
                <td *ngIf="!isEditing">{{customer.firstname}}</td>
                <td *ngIf="isEditing"><input type="text" [(ngModel)]="customer.firstname"></td>
            </tr>
            <tr><td>Last Name:</td>
                <td *ngIf="!isEditing">{{customer.lastname}}</td>
                <td *ngIf="isEditing"><input type="text" [(ngModel)]="customer.lastname"></td>
            </tr>
            <tr><td>Date of Birth:</td>
                <td *ngIf="!isEditing">{{customer.dateofbirth | date : "mediumDate"}}</td>
                <td *ngIf="isEditing"><input type="text" [(ngModel)]="customer.dateofbirth"></td>
            </tr>
            <tr *ngIf="!isEditing"><td>Age:</td>
                <td>{{customer.age}}</td>
            </tr>
            <tr *ngIf="!isEditing"><td>Address:</td>
                <td>{{customerAddress(customer)}}</td>
            </tr>
            <tr *ngIf="isEditing"><td>Street Name:</td>
                <td><input type="text" [(ngModel)]="customer.address!.streetName" name="streetName" placeholder="Street Name"></td>
            </tr>
            <tr *ngIf="isEditing"><td>House Number:</td>
                <td><input type="text" [(ngModel)]="customer.address!.houseNumber" name="houseNumber" placeholder="House Number"></td>
            </tr>
            <tr *ngIf="isEditing"><td>Zip Code:</td>
                <td><input type="text" [(ngModel)]="customer.address!.zipCode" name="zipCode" placeholder="Zip Code"></td>
            </tr>
            <tr *ngIf="isEditing"><td>City:</td>
                <td><input type="text" [(ngModel)]="customer.address!.city" name="city" placeholder="City"></td>
            </tr>
        </table>

        <br/>
        <button type="button" class="btn btn-primary" *ngIf="!isEditing" (click)="editCustomer()">Edit Details</button>
        <button type="button" class="btn btn-warning" *ngIf="isEditing" (click)="cancelEdit()">Cancel</button>
        <button type="button" class="btn btn-success" *ngIf="isEditing" (click)="saveCustomer()">Save</button>

    </div>
</div>