<div class="container" style="width:600px">
    <h2>Customer Details</h2>
    <div *ngIf="hasError" class="alert alert-danger" style="white-space: pre-line">{{errorMessage}}</div>
    <div *ngIf="submitted" class="alert alert-success">Customer details updated succesfully.</div>

    <div class="input-group form-floating mb-3">
        <span class="input-group-text">CID#</span>
        <div class="form-floating">
            <input type="text" [(ngModel)]="getId" id="getid" class="form-control" placeholder="Enter Customer ID">
            <label for="getid">Enter Customer ID</label>
        </div>
        <button type="button" class="btn btn-primary" id="getButton" (click)="getCustomer()">Get Customer Details</button>
    </div>

    <div *ngIf="isViewingCustomer">
        <div class="form-floating mb-3">
            <input readonly type="text" [(ngModel)]="customer.id" id="id" class="form-control-plaintext" placeholder="Id"/>
            <label for="id">Id:</label>
        </div>
        <div class="form-floating mb-3">
            <input [readonly]="!isEditing" type="text" [(ngModel)]="customer.firstname" id="firstname" [class]="getFieldClass('firstname')" (change)="fieldAltered('firstname')" placeholder="First Name"/>
            <label for="firstname">First Name:</label>
        </div>
        <div class="form-floating mb-3">
            <input [readonly]="!isEditing" type="text" [(ngModel)]="customer.lastname" id="lastname" [class]="getFieldClass('lastname')" (change)="fieldAltered('lastname')" placeholder="Last Name"/>
            <label for="lastname">Last Name:</label>
        </div>
        <div class="form-floating mb-3">
            <input *ngIf="!isEditing" [readonly]="!isEditing" type="text" [(ngModel)]="dateReadable" id="dateofbirth" [class]="getFieldClass('dateofbirth')" (change)="fieldAltered('dateofbirth')" placeholder="Date of Birth"/>
            <input *ngIf="isEditing" ngbDatepicker #dob="ngbDatepicker" [readonly]="!isEditing" type="text" [(ngModel)]="datePickerSetDate" id="dateofbirth" [class]="getFieldClass('dateofbirth')" (change)="fieldAltered('dateofbirth')"
                placeholder="Date of Birth" (click)="dob.toggle()"/>
            <label for="dateofbirth">Date of Birth:</label>
        </div>
        <div class="form-floating mb-3">
            <input [readonly]="!isEditing" type="text" [(ngModel)]="customer.address!.streetName" id="streetName" [class]="getFieldClass('streetname')" (change)="fieldAltered('streetname')" placeholder="Street Name"/>
            <label for="streetName">Street Name:</label>
        </div>
        <div class="form-floating mb-3">
            <input [readonly]="!isEditing" type="text" [(ngModel)]="customer.address!.houseNumber" id="houseNumber" [class]="getFieldClass('housenumber')" (change)="fieldAltered('housenumber')" placeholder="House Number"/>
            <label for="houseNumber">House Number:</label>
        </div>
        <div class="form-floating mb-3">
            <input [readonly]="!isEditing" type="text" [(ngModel)]="customer.address!.zipCode" id="zipCode" [class]="getFieldClass('zipcode')" (change)="fieldAltered('zipcode')" placeholder="Zip Code"/>
            <label for="zipCode">Zip Code:</label>
        </div>
        <div class="form-floating mb-3">
            <input [readonly]="!isEditing" type="text" [(ngModel)]="customer.address!.city" id="city" [class]="getFieldClass('city')" (change)="fieldAltered('city')" placeholder="City"/>
            <label for="city">City:</label>
        </div>

        <br/>
        <button type="button" class="btn btn-primary" *ngIf="!isEditing" (click)="editCustomer()">Edit Details</button>
        <button type="button" class="btn btn-warning" *ngIf="isEditing" (click)="cancelEdit()">Cancel</button>
        <button type="button" class="btn btn-success" *ngIf="isEditing" (click)="saveCustomer()">Save</button>

    </div>
</div>