<div *ngIf="!isLoggedIn" class="alert alert-warning"><b>Hey there!</b> It seems like you are not logged in.<br/>
    <small class="text-muted">To access all features, please register a user account and log-in!</small>
</div>
<h2>Landing Page <small class="text-muted">Java/Angular-CustomerDetailsService</small></h2>

<div>
    <div >
        This is a basic Angular Portal for the Java-CustomerDetailsService REST API. <br/>
        <br/>
        This Portal and the API were made by <b class="text-primary">Dion van Renswoude <small class="text-muted">(DevOps Engineer A)</small></b>, a new member of
        <b class="text-primary">Team Sonic</b>. The <i class="font-monospace">Java-CustomerDetailsService</i> and <i class="font-monospace">Angular-CustomerDetailsService</i>
        are part of an assignment given by <b class="text-primary">Akshay Bapusaheb</b> and <b class="text-primary">Gopal Renganathan</b>. The goal of this assignment is to
        get familiar with enterprise-level programming standards and to check and develop skills with Java, Spring-Boot 3 and Spring Security 6 as well as TypeScript and Angular 13.

        <br/>
    </div>

    <br/><br/>
    <h5>Requirements and Specifications
        <small class="text-muted">(Java-CustomerDetailsService)</small>
    </h5>

    <div class="accordion" id="accJavaSpecs">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Expose a RESTful API
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accJavaSpecs">
            <div class="accordion-body">
                The service must expose a REST API that enables the client to:<br/><br/>
                <ul>
                    <li>Add a new customer</li>
                    <li>Retrieve all customers</li>
                    <li>Retrieve one customer by it's identifier</li>
                    <li>Search customers by first name and/or last name</li>
                    <li>Update the living address</li>
                </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Manage Customer Details
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accJavaSpecs">
            <div class="accordion-body">
                The following details of a Customer must be managed:<br/><br/>
                <ul>
                    <li>First name</li>
                    <li>Last name</li>
                    <li>Age</li>
                    <li>Current living address</li>
                </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Technical Requirements
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accJavaSpecs">
            <div class="accordion-body">
                <ul>
                    <li>Java 17 Runtime</li>
                    <li>Spring Boot 2/3 <small class="text-muted">- Project was migrated from Spring-Boot 2 to Spring-Boot 3 as part of the assignment.</small></li>
                    <li>Cloud native microservice ready.</li>
                    <li>Production ready (unit test and code compliancy should be there) <small class="text-muted">- Tests: 99.3% Line Coverage Achieved</small></li>
                    <li>Persistence in a SQL DB (e.g. H2 in memory or dockerized Postgres) <small class="text-muted">- H2 console @ localhost:8080/h2</small></li>
                    <li>The project must be stored in GIT on either Github-or-Gitlab and must be made accessible. <small class="text-muted">- (this is for understanding git related stuff)</small></li>
                </ul>
            </div>
          </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Additionally...
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accJavaSpecs">
              <div class="accordion-body">
                  I added the following to the project:<br/><br/>
                  <ul>
                    <li>JWT Based Authentication <small class="text-muted">- Using Spring Security 6</small></li>
                    <li>Register / Authenticate User API</li>
                    <li>API Locked behind Bearer Token</li>
                    <li>OpenAPI Documentation</li>
                </ul>
              </div>
            </div>
        </div>
    </div>
    <br/><br/>


    <h5>Requirements and Specifications
        <small class="text-muted">(Angular-CustomerDetailsService)</small>
    </h5>

    <div class="accordion" id="accAngularSpecs">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOneAngular">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneAngular" aria-expanded="false" aria-controls="collapseOneAngular">
                Create Front-End for RESTful API
            </button>
          </h2>
          <div id="collapseOneAngular" class="accordion-collapse collapse" aria-labelledby="headingOneAngular" data-bs-parent="#accAngularSpecs">
            <div class="accordion-body">
                The front-end must connect to the earlier exposed API of Java-CustomerDetailsService:<br/><br/>
                <ul>
                    <li>Add Customer page</li>
                    <li>Get/Edit Customer page</li>
                    <li>Find Customers (search) page</li>
                    <li>All Customers List page</li>
                </ul>
            </div>
          </div>
        </div>
        <!-- Unused but fully tagged

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwoAngular">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoAngular" aria-expanded="false" aria-controls="collapseTwoAngular">
                Manage Customer Details
            </button>
          </h2>
          <div id="collapseTwoAngular" class="accordion-collapse collapse" aria-labelledby="headingTwoAngular" data-bs-parent="#accAngularSpecs">
            <div class="accordion-body">
                The following details of a Customer must be managed:<br/><br/>
                <ul>
                    <li>First name</li>
                    <li>Last name</li>
                    <li>Age</li>
                    <li>Current living address</li>
                </ul>
            </div>
          </div>
        </div>-->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThreeAngular">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeAngular" aria-expanded="false" aria-controls="collapseThreeAngular">
              Technical Requirements
            </button>
          </h2>
          <div id="collapseThreeAngular" class="accordion-collapse collapse" aria-labelledby="headingThreeAngular" data-bs-parent="#accAngularSpecs">
            <div class="accordion-body">
                <ul>
                    <li>Angular 13 <small class="text-muted">- My first hands-on experience with TypeScript!</small></li>
                    <li>CORS Configuration on the Back End.</li>
                    <li>Authentication Handling. <small class="text-muted">- JWT BearerT Based Authentication</small></li>
                    <li>The project must be stored in GIT on either Github-or-Gitlab and must be made accessible. <small class="text-muted">- (this is for understanding git related stuff)</small></li>
                </ul>
            </div>
          </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFourAngular">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourAngular" aria-expanded="false" aria-controls="collapseFourAngular">
                Additionally...
              </button>
            </h2>
            <div id="collapseFourAngular" class="accordion-collapse collapse" aria-labelledby="headingFourAngular" data-bs-parent="#accAngularSpecs">
              <div class="accordion-body">
                  I added the following to the project:<br/><br/>
                  <ul>
                    <li>JWT Based Authentication meant I needed a Register and Login page.</li>
                    <li>JWT Token is kept in a TokenStorageService and injected using an HttpInterceptor.</li>
                    <li>Bootstrap 5.2 for easy Styling. <small class="text-muted">- Because pretty!</small></li>
                    <li>User profile page. <small class="text-muted">- Including easter EGG?</small></li>
                    <li>Global HREF Constants for easy migration to different domain. <small class="text-muted">- No 'Magic' domain-names outside configuration files.</small></li>
                </ul>
              </div>
            </div>
        </div>
    </div>
    <br/><br/>

    <h5>Additional Links
        <small class="text-muted">(Github Repositories)</small>
    </h5>
    <table class="table table-sm">
        <tr><td><i class="font-monospace">Java-CustomerDetailsService</i></td><td><a class="link-secondary" href="https://github.com/ThatDRW/Java-CustomerDetailsService">https://github.com/ThatDRW/Java-CustomerDetailsService</a></td></tr>
        <tr><td><i class="font-monospace">Angular-CustomerDetailsService</i></td><td><a class="link-secondary" href="https://github.com/ThatDRW/Angular-CustomerDetailsService">https://github.com/ThatDRW/Angular-CustomerDetailsService</a></td></tr>
    </table>
</div>

