<div *ngIf="!isLoggedIn" class="alert alert-warning"><b>Hey there!</b> It seems like you are not logged in.<br/>
    <small class="text-muted">To access all features, please register a user account and log-in!</small>
</div>
<h2>Landing Page <small class="text-muted">Java/Angular-CustomerDetailsService</small></h2>

<div>
    <div >
        This is a basic Angular Portal for the Java-CustomerDetailsService REST API. <br/>
        <br/>
        This Portal and the API were made by <b class="text-primary">Dion van Renswoude <small class="text-muted">(DevOps Engineer A)</small></b>, a new member of
        <b class="text-primary">Team Sonic</b>. The <i class="font-monospace">Java-CustomerDetailsService</i> and <i class="font-monospace">Angular-CustomerDetailsService</i>
        are part of an assignment given by <b class="text-primary">Akshay Kulkarni</b> and <b class="text-primary">Gopal Renganathan</b>. The goal of this assignment is to
        get familiar with enterprise-level programming standards and to check and develop skills with Java, Spring-Boot 3 and Spring Security 6 as well as TypeScript and Angular 13.

        <br/>
    </div>

    <br/><br/>
    <h5>Requirements and Specifications
        <small class="text-muted">(Java-CustomerDetailsService)</small>
    </h5>

    <div class="accordion" id="accJavaSpecs">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Expose a RESTful API
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accJavaSpecs">
            <div class="accordion-body">
                The service must expose a REST API that enables the client to:<br/><br/>
                <ul>
                    <li>Add a new customer</li>
                    <li>Retrieve all customers</li>
                    <li>Retrieve one customer by it's identifier</li>
                    <li>Search customers by first name and/or last name</li>
                    <li>Update the living address</li>
                </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Manage Customer Details
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accJavaSpecs">
            <div class="accordion-body">
                The following details of a Customer must be managed:<br/><br/>
                <ul>
                    <li>First name</li>
                    <li>Last name</li>
                    <li>Age</li>
                    <li>Current living address</li>
                </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Technical Requirements
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accJavaSpecs">
            <div class="accordion-body">
                <ul>
                    <li>Java 17 Runtime</li>
                    <li>Spring Boot 2/3 <small class="text-muted">- Project was migrated from Spring-Boot 2 to Spring-Boot 3 as part of the assignment.</small></li>
                    <li>Cloud native microservice ready.</li>
                    <li>Production ready (unit test and code compliancy should be there) <small class="text-muted">- Tests: 99.3% Line Coverage Achieved</small></li>
                    <li>Persistence in a SQL DB (e.g. H2 in memory or dockerized Postgres) <small class="text-muted">- H2 console @ localhost:8080/h2</small></li>
                    <li>The project must be stored in GIT on either Github-or-Gitlab and must be made accessible. <small class="text-muted">- (this is for understanding git related stuff)</small></li>
                </ul>
            </div>
          </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Additionally...
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accJavaSpecs">
              <div class="accordion-body">
                  I added the following to the project / additional assignments:<br/><br/>
                  <ul>
                    <li>JWT Based Authentication <small class="text-muted">- Using Spring Security 6</small></li>
                    <li>Register / Authenticate User API</li>
                    <li>API Locked behind Bearer Token</li>
                    <li>OpenAPI Documentation <small class="text-muted">- Using Swagger-UI</small></li>
                    <li>Migration from Spring-Boot 2.7.* to 3.0.*. <small class="text-muted">- This includes JavaEE -> JakartaEE and implementing Spring Security 6.</small></li>
                </ul>
              </div>
            </div>
        </div>
    </div>

    <br/><br/>


    <h5>Requirements and Specifications
        <small class="text-muted">(Angular-CustomerDetailsService)</small>
    </h5>

    <div class="accordion" id="accAngularSpecs">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOneAngular">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneAngular" aria-expanded="false" aria-controls="collapseOneAngular">
                Create Front-End for RESTful API
            </button>
          </h2>
          <div id="collapseOneAngular" class="accordion-collapse collapse" aria-labelledby="headingOneAngular" data-bs-parent="#accAngularSpecs">
            <div class="accordion-body">
                The front-end must connect to the earlier exposed API of Java-CustomerDetailsService:<br/><br/>
                <ul>
                    <li>Add Customer page</li>
                    <li>Get/Edit Customer page</li>
                    <li>Find Customers (search) page</li>
                    <li>All Customers List page</li>
                </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThreeAngular">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeAngular" aria-expanded="false" aria-controls="collapseThreeAngular">
              Technical Requirements
            </button>
          </h2>
          <div id="collapseThreeAngular" class="accordion-collapse collapse" aria-labelledby="headingThreeAngular" data-bs-parent="#accAngularSpecs">
            <div class="accordion-body">
                <ul>
                    <li>Angular 13 <small class="text-muted">- My first hands-on experience with TypeScript!</small></li>
                    <li>CORS Configuration on the Back End.</li>
                    <li>Authentication Handling. <small class="text-muted">- JWT BearerT Based Authentication</small></li>
                    <li>The project must be stored in GIT on either Github-or-Gitlab and must be made accessible. <small class="text-muted">- (this is for understanding git related stuff)</small></li>
                </ul>
            </div>
          </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFourAngular">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourAngular" aria-expanded="false" aria-controls="collapseFourAngular">
                Additionally...
              </button>
            </h2>
            <div id="collapseFourAngular" class="accordion-collapse collapse" aria-labelledby="headingFourAngular" data-bs-parent="#accAngularSpecs">
              <div class="accordion-body">
                  I added the following to the project:<br/><br/>
                  <ul>
                    <li>JWT Based Authentication meant I needed a Register and Login page.</li>
                    <li>JWT Token is kept in a TokenStorageService and injected using an HttpInterceptor.</li>
                    <li>Bootstrap 5.2 for easy Styling. <small class="text-muted">- Because pretty!</small></li>
                    <li>User profile page. <small class="text-muted">- Including easter EGG?</small></li>
                    <li>Global HREF Constants for easy migration to different domain. <small class="text-muted">- No 'Magic' domain-names outside configuration files.</small></li>
                </ul>
              </div>
            </div>
        </div>
    </div>

    <br/><br/>

    <h5>Changes and Improvements
        <small class="text-muted">(Following 1st Code Review)</small>
    </h5>
    <div class="accordion" id="accordionChanges">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOneChanges">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOneChanges" aria-expanded="false" aria-controls="collapseOneChanges">
                    Save Date of Birth instead of Age
                </button>
            </h2>
            <div id="collapseOneChanges" class="accordion-collapse collapse" aria-labelledby="headingOneChanges"
                data-bs-parent="#accordionChanges">
                <div class="accordion-body">
                    <ul>
                        <li>[Angular]   Save DoB instead of Age. Still show age aswell. Customer model updated.</li>
                        <li>[Angular]   Calculating Age implemented in Customer.service.</li>
                        <li>[Angular]   Updated List-Customers and Detail-Customer components to show DoB and Age.</li>
                        <li>[Java]      Save DoB instead of Age. Customer entity updated.</li>
                        <li>[Java]      Fix Unit and Integration tests after implementing Date of Birth.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwoChanges">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwoChanges" aria-expanded="false" aria-controls="collapseTwoChanges">
                    DatePicker Widget Component for Date fields
                </button>
            </h2>
            <div id="collapseTwoChanges" class="accordion-collapse collapse" aria-labelledby="headingTwoChanges"
                data-bs-parent="#accordionChanges">
                <div class="accordion-body">
                    <ul>
                        <li>[Angular]   Added @ng-bootstrap/ng-bootstrap for DatePicker widgets. (ng add)</li>
                        <li>[Angular]   Implementation of NgbDatepicker for Adding- and Editing Customers' Date of Birth.</li>
                        <li>[Angular]   Implementation of Type-Conversion between Java Date and NgbDate Types.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThreeChanges">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThreeChanges" aria-expanded="false" aria-controls="collapseThreeChanges">
                    Testing and Compliancy
                </button>
            </h2>
            <div id="collapseThreeChanges" class="accordion-collapse collapse" aria-labelledby="headingThreeChanges"
                data-bs-parent="#accordionChanges">
                <div class="accordion-body">
                    <ul>
                        <li>[Angular]   Restructured Directories and Components into Angular Modules. (core, shared, user, customer)</li>
                        <li>[Java]      Use Random Port for testing Spring-Boot.</li>
                        <li>[Java]      Fixed Service Interface / Impl Folder structure. (i.e. services/CustomerService and Impl.)</li>
                        <li>[Java]      Fixed/Rewritten Deprecated code.</li>
                        <li>[Java]      Return correct HTTP code on update address api call. (OK, not CREATED)</li>
                        <li>[Java]      Migrate from JUnit 4 to JUnit 5.</li>
                        <li>[JUnit]     Make unit-test folder structure compliant.</li>
                        <li>[JUnit]     Fixed testcases broken after Address Class implementation.</li>
                        <li>[JUnit]     Write Address unit tests.</li>
                        <li>[JUnit]     Use @Before to Arrange data for test-cases.</li>
                        <li>[Maven]     Removed Spring-Migrator Dependency.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFourChanges">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFourChanges" aria-expanded="false" aria-controls="collapseFourChanges">
                    Address Object instead of Strings
                </button>
            </h2>
            <div id="collapseFourChanges" class="accordion-collapse collapse" aria-labelledby="headingFourChanges"
                data-bs-parent="#accordionChanges">
                <div class="accordion-body">
                    <ul>
                        <li>[Angular]   Implementation of Address model and updating codebase.</li>
                        <li>[Angular]   Updated app-components touching Customer.Address.</li>
                        <li>[Angular]   Merge (AddressTypeMigration) to (master)</li>
                        <li>[Java]      Implementation of Address class and updating codebase.</li>
                        <li>[Java]      Implementation of Address Validators. Make basic checks to verify NL Address format.</li>
                        <li>[Java]      Implementation of JPA changes to reflect new Database Structure.</li>
                        <li>[Java]      Merge (AddressTypeMigration) to (master)</li>
                        <li>[JUnit]     Unit Test-Cases for Address Validators.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFiveChanges">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFiveChanges" aria-expanded="false" aria-controls="collapseFiveChanges">
                    Improved ErrorResponse Handling and User Feedback
                </button>
            </h2>
            <div id="collapseFiveChanges" class="accordion-collapse collapse" aria-labelledby="headingFiveChanges"
                data-bs-parent="#accordionChanges">
                <div class="accordion-body">
                    <ul>
                        <li>[Angular]   Catch and show Validator Error Messages.</li>
                        <li>[Angular]   Display Auth and SecurityFilter errors properly.</li>
                        <li>[Angular]   App-Wide integration of ErrorResponseUtilService to unwrap ResponseBody Validation- and Error-Messages.</li>
                        <li>[Java]      Send Validator Error Messages back to client. (For Front-End FieldValidation)</li>
                        <li>[Java]      Add additional ExceptionHandlers to catch all Field Validation Errors.</li>
                        <li>[Java]      AuthManager / SecurityFilter now returning errors wrapped in ErrorResponse.</li>
                        <li>[Java]      Check Validator Messages for spelling and consistency.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSixChanges">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSixChanges" aria-expanded="false" aria-controls="collapseSixChanges">
                    Security Improvements
                </button>
            </h2>
            <div id="collapseSixChanges" class="accordion-collapse collapse" aria-labelledby="headingSixChanges"
                data-bs-parent="#accordionChanges">
                <div class="accordion-body">
                    <ul>
                        <li>[Angular]   Automatically end the session and logout when invalid/expired JWT token is detected.</li>
                        <li>[Angular]   ErrorResponseHelperUtil now gracefully handles null-references.</li>
                        <li>[Angular]   Implemented AuthGuard to Module RoutingModules to prevent unauthorized front-end component access.</li>
                        <li>[Angular]   Implemented Token verification in AuthGuard.</li>
                        <li>[Java]      Clean-Up SecurityConfig.</li>
                        <li>[Java]      (Docker Only Issue) Fix CORS(?) blocking access to swagger-ui in Docker.</li>
                        <li>[Java]      CVE-2018-1000873 CWE-20 - Fixed in jackson-datatype-jsr310 dependency upgrade.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSevenChanges">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSevenChanges" aria-expanded="false" aria-controls="collapseSevenChanges">
                    Various UI Improvements
                </button>
            </h2>
            <div id="collapseSevenChanges" class="accordion-collapse collapse" aria-labelledby="headingSevenChanges"
                data-bs-parent="#accordionChanges">
                <div class="accordion-body">
                    <ul>
                        <li>[Angular]   Now using Bootstrap 5.2's 'form-floating' and 'form-control' formats for all Customer Details forms.</li>
                        <li>[Angular]   Add Labels in Details-Customer component.</li>
                        <li>[Angular]   Reactive Server-Side Field Validation with Field Highlighting and Response Messages.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingEightChanges">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseEightChanges" aria-expanded="false" aria-controls="collapseEightChanges">
                    Dockerized Submodules and Composed Environment
                </button>
            </h2>
            <div id="collapseEightChanges" class="accordion-collapse collapse" aria-labelledby="headingEightChanges"
                data-bs-parent="#accordionChanges">
                <div class="accordion-body">
                    <ul>
                        <li>[Angular]   Multi-Staged Dockerfile and dockerignore. Builds from scratch. Pulls most recent source from GitHub.</li>
                        <li>[Java]      Multi-Staged Dockerfile and dockerignore. Builds from scratch. Pulls most recent source from GitHub.</li>
                        <li>[Docker]    Docker Compose End-to-End Implementation. Only Docker required to run the docker-compose</li>
                        <li>[GitHub]    Created Compose-CustomerDetailsService Repo with Java- and Angular-CDS as SubModules.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <br/><br/>

    <h5>Additional Links
        <small class="text-muted">(Github Repositories)</small>
    </h5>
    <table class="table table-sm">
        <tr><td><i class="font-monospace">Java-CustomerDetailsService</i></td><td><a class="link-secondary" href="https://github.com/ThatDRW/Java-CustomerDetailsService">https://github.com/ThatDRW/Java-CustomerDetailsService</a></td></tr>
        <tr><td><i class="font-monospace">Angular-CustomerDetailsService</i></td><td><a class="link-secondary" href="https://github.com/ThatDRW/Angular-CustomerDetailsService">https://github.com/ThatDRW/Angular-CustomerDetailsService</a></td></tr>
        <tr><td><i class="font-monospace">Compose-CustomerDetailsService</i></td><td><a class="link-secondary" href="https://github.com/ThatDRW/Compose-CustomerDetailsService">https://github.com/ThatDRW/Compose-CustomerDetailsService</a></td></tr>
    </table>
</div>

