<div class="container" style="width:400px">
    <h2>Add Customer</h2>

    <div *ngIf="hasError" class="alert alert-danger" style="white-space: pre-line">{{errorMessage}}</div>
    <div *ngIf="submitted" class="alert alert-success"><b>Customer added successfully.</b><br/>You will be redirected shortly.</div>

    <div *ngIf="!submitted">
        <div class="form-floating mb-3">
            <input type="text" [(ngModel)]="customer.firstname" id="firstname" [class]="getFieldClass('firstname')" (change)="fieldAltered('firstname')" placeholder="First Name"/>
            <label for="firstname">First Name:</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" [(ngModel)]="customer.lastname" id="lastname" [class]="getFieldClass('lastname')" (change)="fieldAltered('lastname')" placeholder="Last Name"/>
            <label for="lastname">Last Name:</label>
        </div>
        <div class="form-floating mb-3">
            <input ngbDatepicker #dob="ngbDatepicker" [(ngModel)]="customer.dateofbirth" id="dateofbirth" [class]="getFieldClass('dateofbirth')" (change)="fieldAltered('dateofbirth')"
                [maxDate]="datePickerMaxDate" (click)="dob.toggle()"/>
            <label for="dateofbirth">Date of Birth:</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" [(ngModel)]="customer.address!.streetName" id="streetName" [class]="getFieldClass('streetname')" (change)="fieldAltered('streetname')" placeholder="Street Name">
            <label for="streetName">Street Name:</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" [(ngModel)]="customer.address!.houseNumber" id="houseNumber" [class]="getFieldClass('housenumber')" (change)="fieldAltered('housenumber')" placeholder="House Number">
            <label for="houseNumber">House Number:</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" [(ngModel)]="customer.address!.zipCode" id="zipCode" [class]="getFieldClass('zipcode')" (change)="fieldAltered('zipcode')" placeholder="Zip Code">
            <label for="zipCode">Zip Code:</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" [(ngModel)]="customer.address!.city" id="city" [class]="getFieldClass('city')" (change)="fieldAltered('city')" placeholder="City">
            <label for="city">City:</label>
        </div>
        <br/>
        <button type="button" class="btn btn-success" (click)="addCustomer()">Add Customer</button>
    </div>
</div>