<div class="container" style="width:800px">
    <h2>Add Customer</h2>

    <div *ngIf="hasError" class="alert alert-danger" style="white-space: pre-line">{{errorMessage}}</div>
    <div *ngIf="submitted" class="alert alert-success"><b>Customer added succesfully.</b><br/>You will be redirected shortly.</div>

    <div *ngIf="!submitted">
        <table class="table table-sm">
            <tr>
                <td><label for="firstname">First Name:</label></td>
                <td><input [(ngModel)]="customer.firstname" id="firstname" placeholder="First Name"/></td>
            </tr>
            <tr>
                <td><label for="lastname">Last Name:</label></td>
                <td><input [(ngModel)]="customer.lastname" id="lastname" placeholder="Last Name"/></td>
            </tr>
            <tr>
                <td><label for="dateofbirth">Date of Birth:</label></td>
                <td><input [(ngModel)]="customer.dateofbirth" id="dateofbirth" placeholder="Date of Birth"/></td>
            </tr>
            <tr>
                <td><label for="streetName">Street Name:</label></td>
                <td><input type="text" [(ngModel)]="customer.address!.streetName" id="streetName" placeholder="Street Name"></td>
            </tr>
            <tr>
                <td><label for="houseNumber">House Number:</label></td>
                <td><input type="text" [(ngModel)]="customer.address!.houseNumber" id="houseNumber" placeholder="House Number"></td>
            </tr>
            <tr>
                <td><label for="zipCode">Zip Code:</label></td>
                <td><input type="text" [(ngModel)]="customer.address!.zipCode" id="zipCode" placeholder="Zip Code"></td>
            </tr>
            <tr>
                <td><label for="city">City:</label></td>
                <td><input type="text" [(ngModel)]="customer.address!.city" id="city" placeholder="City"></td>
            </tr>
        </table>
        <br/>
        <button type="button" class="btn btn-success" (click)="addCustomer()">Add Customer</button>
    </div>
</div>